
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Quicksand';
	/* background-color: #3A405A;*/
}
nav{
	display: grid;
	grid-template-areas;
	'nav-links accounts' ;
	width: 60%;
	margin: auto;
	margin-top 3%;
	grid-gap: 40px;
}
li{
	list-styles: none;
	display: inline;
	padding: 10px;
	text-transform: uppercase;
	cursor: pointer;
}
li:hover{
	font-weight: 900;
}
i{
	margin-right: 10px;
	cursor: pointer;
}
i:hover{
	transform: scale(1.3);
}



/* unvisited link */
a:link {
  color: #F9DBBD;
  text-decoration: none;
}

/* visited link */
a:visited {
  color: #F9DBBD;
  text-decoration: none; 
}

/* mouse over link */
a:hover {
  color: #A6808C;
  text-decoration: none;
}

/* selected link */
a:active {
  color: #F9DBBD;
  text-decoration: none;
}

#Heading {
	color: #A6808C;
	height: 55px;
	text-align: center;
	width: auto;
	font-size: x-large;
	vertical-align: middle;
}

#blog {
    colour: #F9DBBD;
    position: relative;
    width: 34%;
    float: left;
    height: 40px;
    background-color: #496D83;
    vertical-align: middle;
}

#about {
    colour: #F9DBBD;
    position: relative;
    width: 33%;
    height: 40px;
    float: left;
    background-color: #496D83;
    vertical-align: middle;
}

#guide {
    colour: #F9DBBD;
    width: 33%;
    height: 40px;
    float: left;
    background-color: #496D83;
    vertical-align: middle;
}
#Body {
	background-color: #F9DBBD;
	color: #A6808C;
	margin: 0 auto;
	text-align: center;
	width: 900px;
	height: 1000px; 
	left: 0px;
	position: relative;	
	font-family: 'Quicksand', sans-serif;
}

#text-body {
	margin-right: 10%;
  	margin-left: 10%;
}
