
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap" rel="stylesheet">

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	font-family: 'Quicksand', sans-serif;
	/* background-color: #3A405A;*/
}
nav{
	display: grid;
	grid-template-areas;
	'nav-links accounts' ;
	width: 60%;
	margin: auto;
	margin-top 3%;
	grid-gap: 40px;
}
li{
	list-styles: none;
	display: inline;
	padding: 10px;
	text-transform: uppercase;
	cursor: pointer;
}
li:hover{
	font-weight: 900;
}
i{
	margin-right: 10px;
	cursor: pointer;
}
i:hover{
	transform: scale(1.3);
}





