body {
	background-color: #3A405A;
}

#Heading {
	color: #A6808C;
	height: 50px;
	text-align: left;
	width: auto;
	font-size: x-large;
}

#Body {
	background-color: #F9DBBD;
	color: #A6808C;
	margin: 0 auto;
	text-align: center;
	width: 900px;
	height: 1000px; 
	left: 0px;
	position: relative;	
}

#text-body {
	margin-right: 10%;
  	margin-left: 10%;
}
